body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #e20000;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #860000; /* Red color */
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  color: rgb(0, 0, 0);
}

.container1 {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(16, 16, 16);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.input-group h5 {
  margin: 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(84, 84, 84);
  color: white;
}

.button {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  background: linear-gradient(45deg, #e20000, #ff7e00); /* Red to Orange gradient */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 0 0 4px rgb(255, 0, 0), 0 0 40px rgba(238, 255, 0, 0.5);
}

.link {
  color: #ff0000; /* Red color */
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
  color: #ffc8c8;
}
